/*****************
reset
******************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************
svg
******************/
.icon {
  height: 4em;
  position: absolute;
  width: 4em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 16px;
  position: relative;
  width: 100%;
}

svg,
.hidden {
  display: none;
}

.final-modal {
  background-color: rgba( 0, 0, 0, 0.8 );
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.final-modal-left {
  background-color: transparent;
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  outline: 0;
  width: 10%;
}

.final-modal-left:hover {
  cursor: pointer;
}

.final-modal-left:hover .final-modal-left-icon {
  fill: rgb( 255, 0, 0 );
}

.final-modal-left[disabled] {
  cursor: default;
}

.final-modal-left-icon {
  fill: rgb( 255, 255, 255 );
  left: 20%;
  margin-top: -32px;
  top: 50%;
}

.final-modal-left[disabled] .final-modal-left-icon {
  fill: rgb( 24, 24, 24 );
}

.final-modal-right {
  background-color: transparent;
  border: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  outline: 0;
  width: 10%;
}

.final-modal-right:hover {
  cursor: pointer;
}

.final-modal-right:hover .final-modal-right-icon {
  fill: rgb( 255, 0, 0 );
}

.final-modal-right[disabled] {
  cursor: default;
}

.final-modal-right-icon {
  fill: rgb( 255, 255, 255 );
  margin-top: -32px;
  right: 20%;
  top: 50%;
}

.final-modal-right[disabled] .final-modal-right-icon {
  fill: rgb( 24, 24, 24 );
}

.final-modal-meta-l {
  background-color: rgb( 255, 255, 255 );
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 504px;
}

.final-modal-meta {
  width: 100%;
}

.final-modal-close {
  background-image: url( "../images/close.png" );
  background-repeat: no-repeat;
  background-size: cover;
  height: 64px;
  position: absolute;
  right: -55px;
  top: -55px;
  width: 64px;
}

.final-modal-close:hover {
  cursor: pointer;
}

.final-modal-area {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: relative;
}

.final-modal-area-info {
  
  color: rgb( 0, 0, 0 );
}

.final-modal-area-heading {
  font-size: 1.250em;
  font-weight: 700;
  line-height: 1.8;
}

.final-modal-area-text {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.3;
}

.final-header {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

.final-header-heading {

}

.final-l {

}

.final-results {

}

.final-results-list {
  align-content: center;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 100%;
}

.final-results-list-item {
  height: 140px;
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  position: relative;
  width: 140px;
}

.final-results-link {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

.final-results-info {
  background-color: rgba( 0, 0, 0, 0.7 );
  bottom: 0;
  color: rgb( 255, 255, 255 );
  font-size: 0.800rem;
  left: 0;
  padding: 0.4rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 65%;

}

.final-results-heading {
  font-weight: 700;
}

.final-results-text {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer {
  margin: 2rem 0;
  text-align: center;
}
